* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;   
}

.container {
    margin: 24px 48px;
}

header {
    background: #185488;
    padding: 24px 48px;
}

a {
    color: #185488;
}

a:hover {
    color: #05223a;
}

.headerLink {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.topics {
    font-size: 24px;
}

.topics>li {
    margin: 10px;
    padding-left: 20px;
    font-size: 18px;
}

.topics a {
    text-decoration: none;
}

.cluster {
    margin-top: 24px;
}

.cluster h2 {
    font-size: 24px;
    font-weight: normal;
}

.cluster li {
    font-size: 14px;
    margin-bottom: 16px;
}

.cluster li:first-child {
    margin-top: 14px;
}

.clusterBtn {
    padding: 7px 20px;
    background: #185488;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.clusterBtn:hover {
    background: white;
    color: #185488;
    border: 1px solid #185488;
}

.hide {
    display: none;
}